<div class="center flex-column m-3">
  <%= render partial: "shared/user", locals: {user: @user}%>
  <div class="d-flex flex-column w-50 w-100-mobile">
    <% if @user.posts.empty? %>
      <p class="lead text-center">No posts yet!</p>
    <% else %>
      <% @user.posts.includes(:comments).each do |post| %>
        <div class="d-flex flex-column bg-light p-2 border mb-3">
          <div class="d-flex align-items-center">
            <h5 class="me-auto"><%= link_to post.title, user_post_path(id: post.id), class: "no-style" %></h5>
          </div>
          <p><%= post.text %></p>
          <p class="small align-self-end">
            Comments
            <span class="badge bg-secondary">
              <%= post.comments_counter %>
            </span>
            Likes
            <span class="badge bg-secondary">
              <%= post.likes_counter %>
            </span>
          </p>
          <div class="d-flex flex-column">
            <h6>Recent comments</h6>
            <ul class="group-item">
              <% if post.comments.empty? %>
                <li class="list-group-item">No comments yet.</li>
              <% else %>
                <% post.recent_comments.includes(:author).each do |comment| %>
                  <li class="list-group-item">
                    <span class="lead">
                      <%= comment.author.name %>:
                    </span>
                  <%= comment.text %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= button_to "Pagination", "", class: "btn btn-primary" %>
</div>
