<div class="center-body mt-3">
  <div class="d-flex flex-column bg-light p-2 border mb-3">
    <div class="d-flex align-items-baseline">
      <h5 class="me-auto"><%= @post.title %> by <%= @post.author.name %></h5>
        <p class="small">
          Comments
          <span class="badge bg-secondary">
            <%= @post.comments_counter %>
          </span>
          Likes
          <span class="badge bg-secondary">
            <%= @post.likes_counter %>
          </span>
        </p>
    </div>
    <p><%= @post.text %></p>
    <div class="d-flex flex-column">
      <h6>Comments</h6>
      <ul class="group-item">
        <% if @post.comments.empty? %>
          <li class="list-group-item">No comments yet.</li>
        <% else %>
          <% @post.comments.includes(:author).each do |comment| %>
            <li class="list-group-item">
              <span class="lead">
                <%= comment.author.name %>:
              </span>
            <%= comment.text %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="d-flex gap-2">
        <%= link_to "Add a comment", new_user_post_comment_path(post_id: @post.id), class: "btn btn-primary align-self-start" %>
        <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
          <%= form.submit "Like", class: "btn btn-primary" %>
        <% end %>
        <%= button_to "Delete Post", user_post_path(@post), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
